parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 20 minutes


services:
	router: App\RouterFactory::createRouter
	authenticator: App\Model\UserManager
